// config.js

const END_POINT = 'https://api.openai.com/v1/completions';
const GPT_AUTHORIZATION_TOKEN = ''; // openai API key

const MESSAGE_TITLE = '';
const MESSAGE_LAUNCH = '';
const MESSAGE_HELP = '';
const MESSAGE_CANCEL = '';
const MESSAGE_FALLBACK = '';
const MESSAGE_ERROR = '';

const CUSTOM_USER_AGENT = '';

module.exports = {
    END_POINT: END_POINT,
    GPT_AUTHORIZATION_TOKEN: GPT_AUTHORIZATION_TOKEN,
    MESSAGE_TITLE: MESSAGE_TITLE,
    MESSAGE_LAUNCH: MESSAGE_LAUNCH,
    MESSAGE_HELP: MESSAGE_HELP,
    MESSAGE_CANCEL: MESSAGE_CANCEL,
    MESSAGE_FALLBACK: MESSAGE_FALLBACK,
    MESSAGE_ERROR: MESSAGE_ERROR,
    CUSTOM_USER_AGENT: CUSTOM_USER_AGENT
};
